.all {
  background: palegreen;
}
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}
button {
  border: 1px solid #000;
  border-radius: 50%;
  width: 5%;
  background-color: #DF0;
}
 
.container-fluid {
  width: 80%;
  
}

.carousel-content {
 
}
.img-content {
  height: 50rem;
}

.imagenCarousel {
  border-radius: 50%;
  border: 5px solid #DDD;
  background: #000;
  height: 100%;
   padding: 1%;
}

 